<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hljit.cs17.g1.dao.ZjGrqzdjbMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hljit.cs17.g1.pojo.ZjGrqzdjb" >
    <id column="qzbh" property="qzbh" jdbcType="VARCHAR" />
    <result column="bip_id" property="bipId" jdbcType="VARCHAR" />
    <result column="dwxx" property="dwxx" jdbcType="VARCHAR" />
    <result column="dwjjlx" property="dwjjlx" jdbcType="VARCHAR" />
    <result column="dwhy" property="dwhy" jdbcType="VARCHAR" />
    <result column="gzdq" property="gzdq" jdbcType="VARCHAR" />
    <result column="SFDJ" property="sfdj" jdbcType="VARCHAR" />
    <result column="SFJSDX" property="sfjsdx" jdbcType="VARCHAR" />
    <result column="SFCJPX" property="sfcjpx" jdbcType="VARCHAR" />
    <result column="SFJSZYZD" property="sfjszyzd" jdbcType="VARCHAR" />
    <result column="djyxq" property="djyxq" jdbcType="VARCHAR" />
    <result column="DJSJ" property="djsj" jdbcType="VARCHAR" />
    <result column="GDSJ" property="gdsj" jdbcType="VARCHAR" />
    <result column="SFGD" property="sfgd" jdbcType="VARCHAR" />
    <result column="TJX" property="tjx" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    qzbh, bip_id, dwxx, dwjjlx, dwhy, gzdq, SFDJ, SFJSDX, SFCJPX, SFJSZYZD, djyxq, DJSJ, 
    GDSJ, SFGD, TJX
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_grqzdjb
    where qzbh = #{qzbh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_grqzdjb
    where qzbh = #{qzbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjGrqzdjb" >
    insert into zj_grqzdjb (qzbh, bip_id, dwxx, 
      dwjjlx, dwhy, gzdq, 
      SFDJ, SFJSDX, SFCJPX, 
      SFJSZYZD, djyxq, DJSJ, 
      GDSJ, SFGD, TJX)
    values (#{qzbh,jdbcType=VARCHAR}, #{bipId,jdbcType=VARCHAR}, #{dwxx,jdbcType=VARCHAR}, 
      #{dwjjlx,jdbcType=VARCHAR}, #{dwhy,jdbcType=VARCHAR}, #{gzdq,jdbcType=VARCHAR}, 
      #{sfdj,jdbcType=VARCHAR}, #{sfjsdx,jdbcType=VARCHAR}, #{sfcjpx,jdbcType=VARCHAR}, 
      #{sfjszyzd,jdbcType=VARCHAR}, #{djyxq,jdbcType=VARCHAR}, #{djsj,jdbcType=VARCHAR}, 
      #{gdsj,jdbcType=VARCHAR}, #{sfgd,jdbcType=VARCHAR}, #{tjx,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjGrqzdjb" >
    insert into zj_grqzdjb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qzbh != null" >
        qzbh,
      </if>
      <if test="bipId != null" >
        bip_id,
      </if>
      <if test="dwxx != null" >
        dwxx,
      </if>
      <if test="dwjjlx != null" >
        dwjjlx,
      </if>
      <if test="dwhy != null" >
        dwhy,
      </if>
      <if test="gzdq != null" >
        gzdq,
      </if>
      <if test="sfdj != null" >
        SFDJ,
      </if>
      <if test="sfjsdx != null" >
        SFJSDX,
      </if>
      <if test="sfcjpx != null" >
        SFCJPX,
      </if>
      <if test="sfjszyzd != null" >
        SFJSZYZD,
      </if>
      <if test="djyxq != null" >
        djyxq,
      </if>
      <if test="djsj != null" >
        DJSJ,
      </if>
      <if test="gdsj != null" >
        GDSJ,
      </if>
      <if test="sfgd != null" >
        SFGD,
      </if>
      <if test="tjx != null" >
        TJX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qzbh != null" >
        #{qzbh,jdbcType=VARCHAR},
      </if>
      <if test="bipId != null" >
        #{bipId,jdbcType=VARCHAR},
      </if>
      <if test="dwxx != null" >
        #{dwxx,jdbcType=VARCHAR},
      </if>
      <if test="dwjjlx != null" >
        #{dwjjlx,jdbcType=VARCHAR},
      </if>
      <if test="dwhy != null" >
        #{dwhy,jdbcType=VARCHAR},
      </if>
      <if test="gzdq != null" >
        #{gzdq,jdbcType=VARCHAR},
      </if>
      <if test="sfdj != null" >
        #{sfdj,jdbcType=VARCHAR},
      </if>
      <if test="sfjsdx != null" >
        #{sfjsdx,jdbcType=VARCHAR},
      </if>
      <if test="sfcjpx != null" >
        #{sfcjpx,jdbcType=VARCHAR},
      </if>
      <if test="sfjszyzd != null" >
        #{sfjszyzd,jdbcType=VARCHAR},
      </if>
      <if test="djyxq != null" >
        #{djyxq,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        #{djsj,jdbcType=VARCHAR},
      </if>
      <if test="gdsj != null" >
        #{gdsj,jdbcType=VARCHAR},
      </if>
      <if test="sfgd != null" >
        #{sfgd,jdbcType=VARCHAR},
      </if>
      <if test="tjx != null" >
        #{tjx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjGrqzdjb" >
    update zj_grqzdjb
    <set >
      <if test="bipId != null" >
        bip_id = #{bipId,jdbcType=VARCHAR},
      </if>
      <if test="dwxx != null" >
        dwxx = #{dwxx,jdbcType=VARCHAR},
      </if>
      <if test="dwjjlx != null" >
        dwjjlx = #{dwjjlx,jdbcType=VARCHAR},
      </if>
      <if test="dwhy != null" >
        dwhy = #{dwhy,jdbcType=VARCHAR},
      </if>
      <if test="gzdq != null" >
        gzdq = #{gzdq,jdbcType=VARCHAR},
      </if>
      <if test="sfdj != null" >
        SFDJ = #{sfdj,jdbcType=VARCHAR},
      </if>
      <if test="sfjsdx != null" >
        SFJSDX = #{sfjsdx,jdbcType=VARCHAR},
      </if>
      <if test="sfcjpx != null" >
        SFCJPX = #{sfcjpx,jdbcType=VARCHAR},
      </if>
      <if test="sfjszyzd != null" >
        SFJSZYZD = #{sfjszyzd,jdbcType=VARCHAR},
      </if>
      <if test="djyxq != null" >
        djyxq = #{djyxq,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        DJSJ = #{djsj,jdbcType=VARCHAR},
      </if>
      <if test="gdsj != null" >
        GDSJ = #{gdsj,jdbcType=VARCHAR},
      </if>
      <if test="sfgd != null" >
        SFGD = #{sfgd,jdbcType=VARCHAR},
      </if>
      <if test="tjx != null" >
        TJX = #{tjx,jdbcType=VARCHAR},
      </if>
    </set>
    where qzbh = #{qzbh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjGrqzdjb" >
    update zj_grqzdjb
    set bip_id = #{bipId,jdbcType=VARCHAR},
      dwxx = #{dwxx,jdbcType=VARCHAR},
      dwjjlx = #{dwjjlx,jdbcType=VARCHAR},
      dwhy = #{dwhy,jdbcType=VARCHAR},
      gzdq = #{gzdq,jdbcType=VARCHAR},
      SFDJ = #{sfdj,jdbcType=VARCHAR},
      SFJSDX = #{sfjsdx,jdbcType=VARCHAR},
      SFCJPX = #{sfcjpx,jdbcType=VARCHAR},
      SFJSZYZD = #{sfjszyzd,jdbcType=VARCHAR},
      djyxq = #{djyxq,jdbcType=VARCHAR},
      DJSJ = #{djsj,jdbcType=VARCHAR},
      GDSJ = #{gdsj,jdbcType=VARCHAR},
      SFGD = #{sfgd,jdbcType=VARCHAR},
      TJX = #{tjx,jdbcType=VARCHAR}
    where qzbh = #{qzbh,jdbcType=VARCHAR}
  </update>
</mapper>