<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hljit.cs17.g1.dao.BipMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hljit.cs17.g1.pojo.Bip" >
    <id column="bip_id" property="bipId" jdbcType="VARCHAR" />
    <result column="bip_citizenid" property="bipCitizenid" jdbcType="VARCHAR" />
    <result column="bip_sex" property="bipSex" jdbcType="VARCHAR" />
    <result column="bip_age" property="bipAge" jdbcType="VARCHAR" />
    <result column="bip_name" property="bipName" jdbcType="VARCHAR" />
    <result column="bip_birthday" property="bipBirthday" jdbcType="VARCHAR" />
    <result column="bip_minzu" property="bipMinzu" jdbcType="VARCHAR" />
    <result column="bip_zzmm" property="bipZzmm" jdbcType="VARCHAR" />
    <result column="bip_hyzk" property="bipHyzk" jdbcType="VARCHAR" />
    <result column="bip_hjxz" property="bipHjxz" jdbcType="VARCHAR" />
    <result column="bip_rylb" property="bipRylb" jdbcType="VARCHAR" />
    <result column="bip_jkzk" property="bipJkzk" jdbcType="VARCHAR" />
    <result column="bip_cjqk" property="bipCjqk" jdbcType="VARCHAR" />
    <result column="bip_eyesightleft" property="bipEyesightleft" jdbcType="VARCHAR" />
    <result column="bip_eyesightright" property="bipEyesightright" jdbcType="VARCHAR" />
    <result column="bip_long" property="bipLong" jdbcType="VARCHAR" />
    <result column="bip_weight" property="bipWeight" jdbcType="VARCHAR" />
    <result column="bip_hkszd" property="bipHkszd" jdbcType="VARCHAR" />
    <result column="bip_whcd" property="bipWhcd" jdbcType="VARCHAR" />
    <result column="bip_subject" property="bipSubject" jdbcType="VARCHAR" />
    <result column="bip_graduateschool" property="bipGraduateschool" jdbcType="VARCHAR" />
    <result column="bip_bysj" property="bipBysj" jdbcType="VARCHAR" />
    <result column="bip_educationallevel2" property="bipEducationallevel2" jdbcType="VARCHAR" />
    <result column="bip_con_telephone" property="bipConTelephone" jdbcType="VARCHAR" />
    <result column="bip_con_mobile" property="bipConMobile" jdbcType="VARCHAR" />
    <result column="bip_con_email" property="bipConEmail" jdbcType="VARCHAR" />
    <result column="bip_con_postcode" property="bipConPostcode" jdbcType="VARCHAR" />
    <result column="bip_con_contact" property="bipConContact" jdbcType="VARCHAR" />
    <result column="bip_con_contacttel" property="bipConContacttel" jdbcType="VARCHAR" />
    <result column="bip_res_address" property="bipResAddress" jdbcType="VARCHAR" />
    <result column="bip_t_lowersecurity" property="bipTLowersecurity" jdbcType="VARCHAR" />
    <result column="bip_t_criminal" property="bipTCriminal" jdbcType="VARCHAR" />
    <result column="bip_t_destitute" property="bipTDestitute" jdbcType="VARCHAR" />
    <result column="bip_t_peasant" property="bipTPeasant" jdbcType="VARCHAR" />
    <result column="bip_t_veteran" property="bipTVeteran" jdbcType="VARCHAR" />
    <result column="bip_t_othercities" property="bipTOthercities" jdbcType="VARCHAR" />
    <result column="bip_t_czjyyhz" property="bipTCzjyyhz" jdbcType="VARCHAR" />
    <result column="bip_t_rhfl" property="bipTRhfl" jdbcType="VARCHAR" />
    <result column="bip_t_newgraduate" property="bipTNewgraduate" jdbcType="VARCHAR" />
    <result column="bip_pc_dj" property="bipPcDj" jdbcType="VARCHAR" />
    <result column="bip_pc_slcd" property="bipPcSlcd" jdbcType="VARCHAR" />
    <result column="bip_resume" property="bipResume" jdbcType="VARCHAR" />
    <result column="bip_qtsm" property="bipQtsm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bip_id, bip_citizenid, bip_sex, bip_age, bip_name, bip_birthday, bip_minzu, bip_zzmm, 
    bip_hyzk, bip_hjxz, bip_rylb, bip_jkzk, bip_cjqk, bip_eyesightleft, bip_eyesightright, 
    bip_long, bip_weight, bip_hkszd, bip_whcd, bip_subject, bip_graduateschool, bip_bysj, 
    bip_educationallevel2, bip_con_telephone, bip_con_mobile, bip_con_email, bip_con_postcode, 
    bip_con_contact, bip_con_contacttel, bip_res_address, bip_t_lowersecurity, bip_t_criminal, 
    bip_t_destitute, bip_t_peasant, bip_t_veteran, bip_t_othercities, bip_t_czjyyhz, 
    bip_t_rhfl, bip_t_newgraduate, bip_pc_dj, bip_pc_slcd, bip_resume, bip_qtsm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bip
    where bip_id = #{bipId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bip
    where bip_id = #{bipId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.hljit.cs17.g1.pojo.Bip" >
    insert into bip (bip_id, bip_citizenid, bip_sex, 
      bip_age, bip_name, bip_birthday, 
      bip_minzu, bip_zzmm, bip_hyzk, 
      bip_hjxz, bip_rylb, bip_jkzk, 
      bip_cjqk, bip_eyesightleft, bip_eyesightright, 
      bip_long, bip_weight, bip_hkszd, 
      bip_whcd, bip_subject, bip_graduateschool, 
      bip_bysj, bip_educationallevel2, bip_con_telephone, 
      bip_con_mobile, bip_con_email, bip_con_postcode, 
      bip_con_contact, bip_con_contacttel, bip_res_address, 
      bip_t_lowersecurity, bip_t_criminal, bip_t_destitute, 
      bip_t_peasant, bip_t_veteran, bip_t_othercities, 
      bip_t_czjyyhz, bip_t_rhfl, bip_t_newgraduate, 
      bip_pc_dj, bip_pc_slcd, bip_resume, 
      bip_qtsm)
    values (#{bipId,jdbcType=VARCHAR}, #{bipCitizenid,jdbcType=VARCHAR}, #{bipSex,jdbcType=VARCHAR}, 
      #{bipAge,jdbcType=VARCHAR}, #{bipName,jdbcType=VARCHAR}, #{bipBirthday,jdbcType=VARCHAR}, 
      #{bipMinzu,jdbcType=VARCHAR}, #{bipZzmm,jdbcType=VARCHAR}, #{bipHyzk,jdbcType=VARCHAR}, 
      #{bipHjxz,jdbcType=VARCHAR}, #{bipRylb,jdbcType=VARCHAR}, #{bipJkzk,jdbcType=VARCHAR}, 
      #{bipCjqk,jdbcType=VARCHAR}, #{bipEyesightleft,jdbcType=VARCHAR}, #{bipEyesightright,jdbcType=VARCHAR}, 
      #{bipLong,jdbcType=VARCHAR}, #{bipWeight,jdbcType=VARCHAR}, #{bipHkszd,jdbcType=VARCHAR}, 
      #{bipWhcd,jdbcType=VARCHAR}, #{bipSubject,jdbcType=VARCHAR}, #{bipGraduateschool,jdbcType=VARCHAR}, 
      #{bipBysj,jdbcType=VARCHAR}, #{bipEducationallevel2,jdbcType=VARCHAR}, #{bipConTelephone,jdbcType=VARCHAR}, 
      #{bipConMobile,jdbcType=VARCHAR}, #{bipConEmail,jdbcType=VARCHAR}, #{bipConPostcode,jdbcType=VARCHAR}, 
      #{bipConContact,jdbcType=VARCHAR}, #{bipConContacttel,jdbcType=VARCHAR}, #{bipResAddress,jdbcType=VARCHAR}, 
      #{bipTLowersecurity,jdbcType=VARCHAR}, #{bipTCriminal,jdbcType=VARCHAR}, #{bipTDestitute,jdbcType=VARCHAR}, 
      #{bipTPeasant,jdbcType=VARCHAR}, #{bipTVeteran,jdbcType=VARCHAR}, #{bipTOthercities,jdbcType=VARCHAR}, 
      #{bipTCzjyyhz,jdbcType=VARCHAR}, #{bipTRhfl,jdbcType=VARCHAR}, #{bipTNewgraduate,jdbcType=VARCHAR}, 
      #{bipPcDj,jdbcType=VARCHAR}, #{bipPcSlcd,jdbcType=VARCHAR}, #{bipResume,jdbcType=VARCHAR}, 
      #{bipQtsm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hljit.cs17.g1.pojo.Bip" >
    insert into bip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bipId != null" >
        bip_id,
      </if>
      <if test="bipCitizenid != null" >
        bip_citizenid,
      </if>
      <if test="bipSex != null" >
        bip_sex,
      </if>
      <if test="bipAge != null" >
        bip_age,
      </if>
      <if test="bipName != null" >
        bip_name,
      </if>
      <if test="bipBirthday != null" >
        bip_birthday,
      </if>
      <if test="bipMinzu != null" >
        bip_minzu,
      </if>
      <if test="bipZzmm != null" >
        bip_zzmm,
      </if>
      <if test="bipHyzk != null" >
        bip_hyzk,
      </if>
      <if test="bipHjxz != null" >
        bip_hjxz,
      </if>
      <if test="bipRylb != null" >
        bip_rylb,
      </if>
      <if test="bipJkzk != null" >
        bip_jkzk,
      </if>
      <if test="bipCjqk != null" >
        bip_cjqk,
      </if>
      <if test="bipEyesightleft != null" >
        bip_eyesightleft,
      </if>
      <if test="bipEyesightright != null" >
        bip_eyesightright,
      </if>
      <if test="bipLong != null" >
        bip_long,
      </if>
      <if test="bipWeight != null" >
        bip_weight,
      </if>
      <if test="bipHkszd != null" >
        bip_hkszd,
      </if>
      <if test="bipWhcd != null" >
        bip_whcd,
      </if>
      <if test="bipSubject != null" >
        bip_subject,
      </if>
      <if test="bipGraduateschool != null" >
        bip_graduateschool,
      </if>
      <if test="bipBysj != null" >
        bip_bysj,
      </if>
      <if test="bipEducationallevel2 != null" >
        bip_educationallevel2,
      </if>
      <if test="bipConTelephone != null" >
        bip_con_telephone,
      </if>
      <if test="bipConMobile != null" >
        bip_con_mobile,
      </if>
      <if test="bipConEmail != null" >
        bip_con_email,
      </if>
      <if test="bipConPostcode != null" >
        bip_con_postcode,
      </if>
      <if test="bipConContact != null" >
        bip_con_contact,
      </if>
      <if test="bipConContacttel != null" >
        bip_con_contacttel,
      </if>
      <if test="bipResAddress != null" >
        bip_res_address,
      </if>
      <if test="bipTLowersecurity != null" >
        bip_t_lowersecurity,
      </if>
      <if test="bipTCriminal != null" >
        bip_t_criminal,
      </if>
      <if test="bipTDestitute != null" >
        bip_t_destitute,
      </if>
      <if test="bipTPeasant != null" >
        bip_t_peasant,
      </if>
      <if test="bipTVeteran != null" >
        bip_t_veteran,
      </if>
      <if test="bipTOthercities != null" >
        bip_t_othercities,
      </if>
      <if test="bipTCzjyyhz != null" >
        bip_t_czjyyhz,
      </if>
      <if test="bipTRhfl != null" >
        bip_t_rhfl,
      </if>
      <if test="bipTNewgraduate != null" >
        bip_t_newgraduate,
      </if>
      <if test="bipPcDj != null" >
        bip_pc_dj,
      </if>
      <if test="bipPcSlcd != null" >
        bip_pc_slcd,
      </if>
      <if test="bipResume != null" >
        bip_resume,
      </if>
      <if test="bipQtsm != null" >
        bip_qtsm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bipId != null" >
        #{bipId,jdbcType=VARCHAR},
      </if>
      <if test="bipCitizenid != null" >
        #{bipCitizenid,jdbcType=VARCHAR},
      </if>
      <if test="bipSex != null" >
        #{bipSex,jdbcType=VARCHAR},
      </if>
      <if test="bipAge != null" >
        #{bipAge,jdbcType=VARCHAR},
      </if>
      <if test="bipName != null" >
        #{bipName,jdbcType=VARCHAR},
      </if>
      <if test="bipBirthday != null" >
        #{bipBirthday,jdbcType=VARCHAR},
      </if>
      <if test="bipMinzu != null" >
        #{bipMinzu,jdbcType=VARCHAR},
      </if>
      <if test="bipZzmm != null" >
        #{bipZzmm,jdbcType=VARCHAR},
      </if>
      <if test="bipHyzk != null" >
        #{bipHyzk,jdbcType=VARCHAR},
      </if>
      <if test="bipHjxz != null" >
        #{bipHjxz,jdbcType=VARCHAR},
      </if>
      <if test="bipRylb != null" >
        #{bipRylb,jdbcType=VARCHAR},
      </if>
      <if test="bipJkzk != null" >
        #{bipJkzk,jdbcType=VARCHAR},
      </if>
      <if test="bipCjqk != null" >
        #{bipCjqk,jdbcType=VARCHAR},
      </if>
      <if test="bipEyesightleft != null" >
        #{bipEyesightleft,jdbcType=VARCHAR},
      </if>
      <if test="bipEyesightright != null" >
        #{bipEyesightright,jdbcType=VARCHAR},
      </if>
      <if test="bipLong != null" >
        #{bipLong,jdbcType=VARCHAR},
      </if>
      <if test="bipWeight != null" >
        #{bipWeight,jdbcType=VARCHAR},
      </if>
      <if test="bipHkszd != null" >
        #{bipHkszd,jdbcType=VARCHAR},
      </if>
      <if test="bipWhcd != null" >
        #{bipWhcd,jdbcType=VARCHAR},
      </if>
      <if test="bipSubject != null" >
        #{bipSubject,jdbcType=VARCHAR},
      </if>
      <if test="bipGraduateschool != null" >
        #{bipGraduateschool,jdbcType=VARCHAR},
      </if>
      <if test="bipBysj != null" >
        #{bipBysj,jdbcType=VARCHAR},
      </if>
      <if test="bipEducationallevel2 != null" >
        #{bipEducationallevel2,jdbcType=VARCHAR},
      </if>
      <if test="bipConTelephone != null" >
        #{bipConTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bipConMobile != null" >
        #{bipConMobile,jdbcType=VARCHAR},
      </if>
      <if test="bipConEmail != null" >
        #{bipConEmail,jdbcType=VARCHAR},
      </if>
      <if test="bipConPostcode != null" >
        #{bipConPostcode,jdbcType=VARCHAR},
      </if>
      <if test="bipConContact != null" >
        #{bipConContact,jdbcType=VARCHAR},
      </if>
      <if test="bipConContacttel != null" >
        #{bipConContacttel,jdbcType=VARCHAR},
      </if>
      <if test="bipResAddress != null" >
        #{bipResAddress,jdbcType=VARCHAR},
      </if>
      <if test="bipTLowersecurity != null" >
        #{bipTLowersecurity,jdbcType=VARCHAR},
      </if>
      <if test="bipTCriminal != null" >
        #{bipTCriminal,jdbcType=VARCHAR},
      </if>
      <if test="bipTDestitute != null" >
        #{bipTDestitute,jdbcType=VARCHAR},
      </if>
      <if test="bipTPeasant != null" >
        #{bipTPeasant,jdbcType=VARCHAR},
      </if>
      <if test="bipTVeteran != null" >
        #{bipTVeteran,jdbcType=VARCHAR},
      </if>
      <if test="bipTOthercities != null" >
        #{bipTOthercities,jdbcType=VARCHAR},
      </if>
      <if test="bipTCzjyyhz != null" >
        #{bipTCzjyyhz,jdbcType=VARCHAR},
      </if>
      <if test="bipTRhfl != null" >
        #{bipTRhfl,jdbcType=VARCHAR},
      </if>
      <if test="bipTNewgraduate != null" >
        #{bipTNewgraduate,jdbcType=VARCHAR},
      </if>
      <if test="bipPcDj != null" >
        #{bipPcDj,jdbcType=VARCHAR},
      </if>
      <if test="bipPcSlcd != null" >
        #{bipPcSlcd,jdbcType=VARCHAR},
      </if>
      <if test="bipResume != null" >
        #{bipResume,jdbcType=VARCHAR},
      </if>
      <if test="bipQtsm != null" >
        #{bipQtsm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hljit.cs17.g1.pojo.Bip" >
    update bip
    <set >
      <if test="bipCitizenid != null" >
        bip_citizenid = #{bipCitizenid,jdbcType=VARCHAR},
      </if>
      <if test="bipSex != null" >
        bip_sex = #{bipSex,jdbcType=VARCHAR},
      </if>
      <if test="bipAge != null" >
        bip_age = #{bipAge,jdbcType=VARCHAR},
      </if>
      <if test="bipName != null" >
        bip_name = #{bipName,jdbcType=VARCHAR},
      </if>
      <if test="bipBirthday != null" >
        bip_birthday = #{bipBirthday,jdbcType=VARCHAR},
      </if>
      <if test="bipMinzu != null" >
        bip_minzu = #{bipMinzu,jdbcType=VARCHAR},
      </if>
      <if test="bipZzmm != null" >
        bip_zzmm = #{bipZzmm,jdbcType=VARCHAR},
      </if>
      <if test="bipHyzk != null" >
        bip_hyzk = #{bipHyzk,jdbcType=VARCHAR},
      </if>
      <if test="bipHjxz != null" >
        bip_hjxz = #{bipHjxz,jdbcType=VARCHAR},
      </if>
      <if test="bipRylb != null" >
        bip_rylb = #{bipRylb,jdbcType=VARCHAR},
      </if>
      <if test="bipJkzk != null" >
        bip_jkzk = #{bipJkzk,jdbcType=VARCHAR},
      </if>
      <if test="bipCjqk != null" >
        bip_cjqk = #{bipCjqk,jdbcType=VARCHAR},
      </if>
      <if test="bipEyesightleft != null" >
        bip_eyesightleft = #{bipEyesightleft,jdbcType=VARCHAR},
      </if>
      <if test="bipEyesightright != null" >
        bip_eyesightright = #{bipEyesightright,jdbcType=VARCHAR},
      </if>
      <if test="bipLong != null" >
        bip_long = #{bipLong,jdbcType=VARCHAR},
      </if>
      <if test="bipWeight != null" >
        bip_weight = #{bipWeight,jdbcType=VARCHAR},
      </if>
      <if test="bipHkszd != null" >
        bip_hkszd = #{bipHkszd,jdbcType=VARCHAR},
      </if>
      <if test="bipWhcd != null" >
        bip_whcd = #{bipWhcd,jdbcType=VARCHAR},
      </if>
      <if test="bipSubject != null" >
        bip_subject = #{bipSubject,jdbcType=VARCHAR},
      </if>
      <if test="bipGraduateschool != null" >
        bip_graduateschool = #{bipGraduateschool,jdbcType=VARCHAR},
      </if>
      <if test="bipBysj != null" >
        bip_bysj = #{bipBysj,jdbcType=VARCHAR},
      </if>
      <if test="bipEducationallevel2 != null" >
        bip_educationallevel2 = #{bipEducationallevel2,jdbcType=VARCHAR},
      </if>
      <if test="bipConTelephone != null" >
        bip_con_telephone = #{bipConTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bipConMobile != null" >
        bip_con_mobile = #{bipConMobile,jdbcType=VARCHAR},
      </if>
      <if test="bipConEmail != null" >
        bip_con_email = #{bipConEmail,jdbcType=VARCHAR},
      </if>
      <if test="bipConPostcode != null" >
        bip_con_postcode = #{bipConPostcode,jdbcType=VARCHAR},
      </if>
      <if test="bipConContact != null" >
        bip_con_contact = #{bipConContact,jdbcType=VARCHAR},
      </if>
      <if test="bipConContacttel != null" >
        bip_con_contacttel = #{bipConContacttel,jdbcType=VARCHAR},
      </if>
      <if test="bipResAddress != null" >
        bip_res_address = #{bipResAddress,jdbcType=VARCHAR},
      </if>
      <if test="bipTLowersecurity != null" >
        bip_t_lowersecurity = #{bipTLowersecurity,jdbcType=VARCHAR},
      </if>
      <if test="bipTCriminal != null" >
        bip_t_criminal = #{bipTCriminal,jdbcType=VARCHAR},
      </if>
      <if test="bipTDestitute != null" >
        bip_t_destitute = #{bipTDestitute,jdbcType=VARCHAR},
      </if>
      <if test="bipTPeasant != null" >
        bip_t_peasant = #{bipTPeasant,jdbcType=VARCHAR},
      </if>
      <if test="bipTVeteran != null" >
        bip_t_veteran = #{bipTVeteran,jdbcType=VARCHAR},
      </if>
      <if test="bipTOthercities != null" >
        bip_t_othercities = #{bipTOthercities,jdbcType=VARCHAR},
      </if>
      <if test="bipTCzjyyhz != null" >
        bip_t_czjyyhz = #{bipTCzjyyhz,jdbcType=VARCHAR},
      </if>
      <if test="bipTRhfl != null" >
        bip_t_rhfl = #{bipTRhfl,jdbcType=VARCHAR},
      </if>
      <if test="bipTNewgraduate != null" >
        bip_t_newgraduate = #{bipTNewgraduate,jdbcType=VARCHAR},
      </if>
      <if test="bipPcDj != null" >
        bip_pc_dj = #{bipPcDj,jdbcType=VARCHAR},
      </if>
      <if test="bipPcSlcd != null" >
        bip_pc_slcd = #{bipPcSlcd,jdbcType=VARCHAR},
      </if>
      <if test="bipResume != null" >
        bip_resume = #{bipResume,jdbcType=VARCHAR},
      </if>
      <if test="bipQtsm != null" >
        bip_qtsm = #{bipQtsm,jdbcType=VARCHAR},
      </if>
    </set>
    where bip_id = #{bipId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hljit.cs17.g1.pojo.Bip" >
    update bip
    set bip_citizenid = #{bipCitizenid,jdbcType=VARCHAR},
      bip_sex = #{bipSex,jdbcType=VARCHAR},
      bip_age = #{bipAge,jdbcType=VARCHAR},
      bip_name = #{bipName,jdbcType=VARCHAR},
      bip_birthday = #{bipBirthday,jdbcType=VARCHAR},
      bip_minzu = #{bipMinzu,jdbcType=VARCHAR},
      bip_zzmm = #{bipZzmm,jdbcType=VARCHAR},
      bip_hyzk = #{bipHyzk,jdbcType=VARCHAR},
      bip_hjxz = #{bipHjxz,jdbcType=VARCHAR},
      bip_rylb = #{bipRylb,jdbcType=VARCHAR},
      bip_jkzk = #{bipJkzk,jdbcType=VARCHAR},
      bip_cjqk = #{bipCjqk,jdbcType=VARCHAR},
      bip_eyesightleft = #{bipEyesightleft,jdbcType=VARCHAR},
      bip_eyesightright = #{bipEyesightright,jdbcType=VARCHAR},
      bip_long = #{bipLong,jdbcType=VARCHAR},
      bip_weight = #{bipWeight,jdbcType=VARCHAR},
      bip_hkszd = #{bipHkszd,jdbcType=VARCHAR},
      bip_whcd = #{bipWhcd,jdbcType=VARCHAR},
      bip_subject = #{bipSubject,jdbcType=VARCHAR},
      bip_graduateschool = #{bipGraduateschool,jdbcType=VARCHAR},
      bip_bysj = #{bipBysj,jdbcType=VARCHAR},
      bip_educationallevel2 = #{bipEducationallevel2,jdbcType=VARCHAR},
      bip_con_telephone = #{bipConTelephone,jdbcType=VARCHAR},
      bip_con_mobile = #{bipConMobile,jdbcType=VARCHAR},
      bip_con_email = #{bipConEmail,jdbcType=VARCHAR},
      bip_con_postcode = #{bipConPostcode,jdbcType=VARCHAR},
      bip_con_contact = #{bipConContact,jdbcType=VARCHAR},
      bip_con_contacttel = #{bipConContacttel,jdbcType=VARCHAR},
      bip_res_address = #{bipResAddress,jdbcType=VARCHAR},
      bip_t_lowersecurity = #{bipTLowersecurity,jdbcType=VARCHAR},
      bip_t_criminal = #{bipTCriminal,jdbcType=VARCHAR},
      bip_t_destitute = #{bipTDestitute,jdbcType=VARCHAR},
      bip_t_peasant = #{bipTPeasant,jdbcType=VARCHAR},
      bip_t_veteran = #{bipTVeteran,jdbcType=VARCHAR},
      bip_t_othercities = #{bipTOthercities,jdbcType=VARCHAR},
      bip_t_czjyyhz = #{bipTCzjyyhz,jdbcType=VARCHAR},
      bip_t_rhfl = #{bipTRhfl,jdbcType=VARCHAR},
      bip_t_newgraduate = #{bipTNewgraduate,jdbcType=VARCHAR},
      bip_pc_dj = #{bipPcDj,jdbcType=VARCHAR},
      bip_pc_slcd = #{bipPcSlcd,jdbcType=VARCHAR},
      bip_resume = #{bipResume,jdbcType=VARCHAR},
      bip_qtsm = #{bipQtsm,jdbcType=VARCHAR}
    where bip_id = #{bipId,jdbcType=VARCHAR}
  </update>
</mapper>