<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hljit.cs17.g1.dao.ZjDwzpgzbMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hljit.cs17.g1.pojo.ZjDwzpgzb" >
    <id column="ZPGZBH" property="zpgzbh" jdbcType="VARCHAR" />
    <result column="ZPBH" property="zpbh" jdbcType="VARCHAR" />
    <result column="ZPGZ" property="zpgz" jdbcType="VARCHAR" />
    <result column="ZPGZBM" property="zpgzbm" jdbcType="VARCHAR" />
    <result column="GWLB" property="gwlb" jdbcType="VARCHAR" />
    <result column="ZRS" property="zrs" jdbcType="VARCHAR" />
    <result column="ZPRSN" property="zprsn" jdbcType="VARCHAR" />
    <result column="ZPRSNV" property="zprsnv" jdbcType="VARCHAR" />
    <result column="XBBX" property="xbbx" jdbcType="VARCHAR" />
    <result column="hjxz" property="hjxz" jdbcType="VARCHAR" />
    <result column="KSSJ" property="kssj" jdbcType="VARCHAR" />
    <result column="JSSJ" property="jssj" jdbcType="VARCHAR" />
    <result column="ZXNL" property="zxnl" jdbcType="VARCHAR" />
    <result column="ZDNL" property="zdnl" jdbcType="VARCHAR" />
    <result column="whcd" property="whcd" jdbcType="VARCHAR" />
    <result column="ygxs" property="ygxs" jdbcType="VARCHAR" />
    <result column="ZZYX" property="zzyx" jdbcType="VARCHAR" />
    <result column="ZGYX" property="zgyx" jdbcType="VARCHAR" />
    <result column="hyzk" property="hyzk" jdbcType="VARCHAR" />
    <result column="jkzk" property="jkzk" jdbcType="VARCHAR" />
    <result column="rylb" property="rylb" jdbcType="VARCHAR" />
    <result column="sfbys" property="sfbys" jdbcType="VARCHAR" />
    <result column="ZPDQ" property="zpdq" jdbcType="VARCHAR" />
    <result column="JYYZ" property="jyyz" jdbcType="VARCHAR" />
    <result column="SLCD" property="slcd" jdbcType="VARCHAR" />
    <result column="JSJDJ" property="jsjdj" jdbcType="VARCHAR" />
    <result column="JSJSLCD" property="jsjslcd" jdbcType="VARCHAR" />
    <result column="GWMS" property="gwms" jdbcType="VARCHAR" />
    <result column="GZDD" property="gzdd" jdbcType="VARCHAR" />
    <result column="CGRSN" property="cgrsn" jdbcType="VARCHAR" />
    <result column="CGRSNV" property="cgrsnv" jdbcType="VARCHAR" />
    <result column="DJYXQ" property="djyxq" jdbcType="VARCHAR" />
    <result column="DJSJ" property="djsj" jdbcType="VARCHAR" />
    <result column="GDSJ" property="gdsj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ZPGZBH, ZPBH, ZPGZ, ZPGZBM, GWLB, ZRS, ZPRSN, ZPRSNV, XBBX, hjxz, KSSJ, JSSJ, ZXNL, 
    ZDNL, whcd, ygxs, ZZYX, ZGYX, hyzk, jkzk, rylb, sfbys, ZPDQ, JYYZ, SLCD, JSJDJ, JSJSLCD, 
    GWMS, GZDD, CGRSN, CGRSNV, DJYXQ, DJSJ, GDSJ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zj_dwzpgzb
    where ZPGZBH = #{zpgzbh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zj_dwzpgzb
    where ZPGZBH = #{zpgzbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjDwzpgzb" >
    insert into zj_dwzpgzb (ZPGZBH, ZPBH, ZPGZ, 
      ZPGZBM, GWLB, ZRS, 
      ZPRSN, ZPRSNV, XBBX, 
      hjxz, KSSJ, JSSJ, ZXNL, 
      ZDNL, whcd, ygxs, ZZYX, 
      ZGYX, hyzk, jkzk, rylb, 
      sfbys, ZPDQ, JYYZ, 
      SLCD, JSJDJ, JSJSLCD, 
      GWMS, GZDD, CGRSN, 
      CGRSNV, DJYXQ, DJSJ, 
      GDSJ)
    values (#{zpgzbh,jdbcType=VARCHAR}, #{zpbh,jdbcType=VARCHAR}, #{zpgz,jdbcType=VARCHAR}, 
      #{zpgzbm,jdbcType=VARCHAR}, #{gwlb,jdbcType=VARCHAR}, #{zrs,jdbcType=VARCHAR}, 
      #{zprsn,jdbcType=VARCHAR}, #{zprsnv,jdbcType=VARCHAR}, #{xbbx,jdbcType=VARCHAR}, 
      #{hjxz,jdbcType=VARCHAR}, #{kssj,jdbcType=VARCHAR}, #{jssj,jdbcType=VARCHAR}, #{zxnl,jdbcType=VARCHAR}, 
      #{zdnl,jdbcType=VARCHAR}, #{whcd,jdbcType=VARCHAR}, #{ygxs,jdbcType=VARCHAR}, #{zzyx,jdbcType=VARCHAR}, 
      #{zgyx,jdbcType=VARCHAR}, #{hyzk,jdbcType=VARCHAR}, #{jkzk,jdbcType=VARCHAR}, #{rylb,jdbcType=VARCHAR}, 
      #{sfbys,jdbcType=VARCHAR}, #{zpdq,jdbcType=VARCHAR}, #{jyyz,jdbcType=VARCHAR}, 
      #{slcd,jdbcType=VARCHAR}, #{jsjdj,jdbcType=VARCHAR}, #{jsjslcd,jdbcType=VARCHAR}, 
      #{gwms,jdbcType=VARCHAR}, #{gzdd,jdbcType=VARCHAR}, #{cgrsn,jdbcType=VARCHAR}, 
      #{cgrsnv,jdbcType=VARCHAR}, #{djyxq,jdbcType=VARCHAR}, #{djsj,jdbcType=VARCHAR}, 
      #{gdsj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjDwzpgzb" >
    insert into zj_dwzpgzb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zpgzbh != null" >
        ZPGZBH,
      </if>
      <if test="zpbh != null" >
        ZPBH,
      </if>
      <if test="zpgz != null" >
        ZPGZ,
      </if>
      <if test="zpgzbm != null" >
        ZPGZBM,
      </if>
      <if test="gwlb != null" >
        GWLB,
      </if>
      <if test="zrs != null" >
        ZRS,
      </if>
      <if test="zprsn != null" >
        ZPRSN,
      </if>
      <if test="zprsnv != null" >
        ZPRSNV,
      </if>
      <if test="xbbx != null" >
        XBBX,
      </if>
      <if test="hjxz != null" >
        hjxz,
      </if>
      <if test="kssj != null" >
        KSSJ,
      </if>
      <if test="jssj != null" >
        JSSJ,
      </if>
      <if test="zxnl != null" >
        ZXNL,
      </if>
      <if test="zdnl != null" >
        ZDNL,
      </if>
      <if test="whcd != null" >
        whcd,
      </if>
      <if test="ygxs != null" >
        ygxs,
      </if>
      <if test="zzyx != null" >
        ZZYX,
      </if>
      <if test="zgyx != null" >
        ZGYX,
      </if>
      <if test="hyzk != null" >
        hyzk,
      </if>
      <if test="jkzk != null" >
        jkzk,
      </if>
      <if test="rylb != null" >
        rylb,
      </if>
      <if test="sfbys != null" >
        sfbys,
      </if>
      <if test="zpdq != null" >
        ZPDQ,
      </if>
      <if test="jyyz != null" >
        JYYZ,
      </if>
      <if test="slcd != null" >
        SLCD,
      </if>
      <if test="jsjdj != null" >
        JSJDJ,
      </if>
      <if test="jsjslcd != null" >
        JSJSLCD,
      </if>
      <if test="gwms != null" >
        GWMS,
      </if>
      <if test="gzdd != null" >
        GZDD,
      </if>
      <if test="cgrsn != null" >
        CGRSN,
      </if>
      <if test="cgrsnv != null" >
        CGRSNV,
      </if>
      <if test="djyxq != null" >
        DJYXQ,
      </if>
      <if test="djsj != null" >
        DJSJ,
      </if>
      <if test="gdsj != null" >
        GDSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zpgzbh != null" >
        #{zpgzbh,jdbcType=VARCHAR},
      </if>
      <if test="zpbh != null" >
        #{zpbh,jdbcType=VARCHAR},
      </if>
      <if test="zpgz != null" >
        #{zpgz,jdbcType=VARCHAR},
      </if>
      <if test="zpgzbm != null" >
        #{zpgzbm,jdbcType=VARCHAR},
      </if>
      <if test="gwlb != null" >
        #{gwlb,jdbcType=VARCHAR},
      </if>
      <if test="zrs != null" >
        #{zrs,jdbcType=VARCHAR},
      </if>
      <if test="zprsn != null" >
        #{zprsn,jdbcType=VARCHAR},
      </if>
      <if test="zprsnv != null" >
        #{zprsnv,jdbcType=VARCHAR},
      </if>
      <if test="xbbx != null" >
        #{xbbx,jdbcType=VARCHAR},
      </if>
      <if test="hjxz != null" >
        #{hjxz,jdbcType=VARCHAR},
      </if>
      <if test="kssj != null" >
        #{kssj,jdbcType=VARCHAR},
      </if>
      <if test="jssj != null" >
        #{jssj,jdbcType=VARCHAR},
      </if>
      <if test="zxnl != null" >
        #{zxnl,jdbcType=VARCHAR},
      </if>
      <if test="zdnl != null" >
        #{zdnl,jdbcType=VARCHAR},
      </if>
      <if test="whcd != null" >
        #{whcd,jdbcType=VARCHAR},
      </if>
      <if test="ygxs != null" >
        #{ygxs,jdbcType=VARCHAR},
      </if>
      <if test="zzyx != null" >
        #{zzyx,jdbcType=VARCHAR},
      </if>
      <if test="zgyx != null" >
        #{zgyx,jdbcType=VARCHAR},
      </if>
      <if test="hyzk != null" >
        #{hyzk,jdbcType=VARCHAR},
      </if>
      <if test="jkzk != null" >
        #{jkzk,jdbcType=VARCHAR},
      </if>
      <if test="rylb != null" >
        #{rylb,jdbcType=VARCHAR},
      </if>
      <if test="sfbys != null" >
        #{sfbys,jdbcType=VARCHAR},
      </if>
      <if test="zpdq != null" >
        #{zpdq,jdbcType=VARCHAR},
      </if>
      <if test="jyyz != null" >
        #{jyyz,jdbcType=VARCHAR},
      </if>
      <if test="slcd != null" >
        #{slcd,jdbcType=VARCHAR},
      </if>
      <if test="jsjdj != null" >
        #{jsjdj,jdbcType=VARCHAR},
      </if>
      <if test="jsjslcd != null" >
        #{jsjslcd,jdbcType=VARCHAR},
      </if>
      <if test="gwms != null" >
        #{gwms,jdbcType=VARCHAR},
      </if>
      <if test="gzdd != null" >
        #{gzdd,jdbcType=VARCHAR},
      </if>
      <if test="cgrsn != null" >
        #{cgrsn,jdbcType=VARCHAR},
      </if>
      <if test="cgrsnv != null" >
        #{cgrsnv,jdbcType=VARCHAR},
      </if>
      <if test="djyxq != null" >
        #{djyxq,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        #{djsj,jdbcType=VARCHAR},
      </if>
      <if test="gdsj != null" >
        #{gdsj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjDwzpgzb" >
    update zj_dwzpgzb
    <set >
      <if test="zpbh != null" >
        ZPBH = #{zpbh,jdbcType=VARCHAR},
      </if>
      <if test="zpgz != null" >
        ZPGZ = #{zpgz,jdbcType=VARCHAR},
      </if>
      <if test="zpgzbm != null" >
        ZPGZBM = #{zpgzbm,jdbcType=VARCHAR},
      </if>
      <if test="gwlb != null" >
        GWLB = #{gwlb,jdbcType=VARCHAR},
      </if>
      <if test="zrs != null" >
        ZRS = #{zrs,jdbcType=VARCHAR},
      </if>
      <if test="zprsn != null" >
        ZPRSN = #{zprsn,jdbcType=VARCHAR},
      </if>
      <if test="zprsnv != null" >
        ZPRSNV = #{zprsnv,jdbcType=VARCHAR},
      </if>
      <if test="xbbx != null" >
        XBBX = #{xbbx,jdbcType=VARCHAR},
      </if>
      <if test="hjxz != null" >
        hjxz = #{hjxz,jdbcType=VARCHAR},
      </if>
      <if test="kssj != null" >
        KSSJ = #{kssj,jdbcType=VARCHAR},
      </if>
      <if test="jssj != null" >
        JSSJ = #{jssj,jdbcType=VARCHAR},
      </if>
      <if test="zxnl != null" >
        ZXNL = #{zxnl,jdbcType=VARCHAR},
      </if>
      <if test="zdnl != null" >
        ZDNL = #{zdnl,jdbcType=VARCHAR},
      </if>
      <if test="whcd != null" >
        whcd = #{whcd,jdbcType=VARCHAR},
      </if>
      <if test="ygxs != null" >
        ygxs = #{ygxs,jdbcType=VARCHAR},
      </if>
      <if test="zzyx != null" >
        ZZYX = #{zzyx,jdbcType=VARCHAR},
      </if>
      <if test="zgyx != null" >
        ZGYX = #{zgyx,jdbcType=VARCHAR},
      </if>
      <if test="hyzk != null" >
        hyzk = #{hyzk,jdbcType=VARCHAR},
      </if>
      <if test="jkzk != null" >
        jkzk = #{jkzk,jdbcType=VARCHAR},
      </if>
      <if test="rylb != null" >
        rylb = #{rylb,jdbcType=VARCHAR},
      </if>
      <if test="sfbys != null" >
        sfbys = #{sfbys,jdbcType=VARCHAR},
      </if>
      <if test="zpdq != null" >
        ZPDQ = #{zpdq,jdbcType=VARCHAR},
      </if>
      <if test="jyyz != null" >
        JYYZ = #{jyyz,jdbcType=VARCHAR},
      </if>
      <if test="slcd != null" >
        SLCD = #{slcd,jdbcType=VARCHAR},
      </if>
      <if test="jsjdj != null" >
        JSJDJ = #{jsjdj,jdbcType=VARCHAR},
      </if>
      <if test="jsjslcd != null" >
        JSJSLCD = #{jsjslcd,jdbcType=VARCHAR},
      </if>
      <if test="gwms != null" >
        GWMS = #{gwms,jdbcType=VARCHAR},
      </if>
      <if test="gzdd != null" >
        GZDD = #{gzdd,jdbcType=VARCHAR},
      </if>
      <if test="cgrsn != null" >
        CGRSN = #{cgrsn,jdbcType=VARCHAR},
      </if>
      <if test="cgrsnv != null" >
        CGRSNV = #{cgrsnv,jdbcType=VARCHAR},
      </if>
      <if test="djyxq != null" >
        DJYXQ = #{djyxq,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        DJSJ = #{djsj,jdbcType=VARCHAR},
      </if>
      <if test="gdsj != null" >
        GDSJ = #{gdsj,jdbcType=VARCHAR},
      </if>
    </set>
    where ZPGZBH = #{zpgzbh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hljit.cs17.g1.pojo.ZjDwzpgzb" >
    update zj_dwzpgzb
    set ZPBH = #{zpbh,jdbcType=VARCHAR},
      ZPGZ = #{zpgz,jdbcType=VARCHAR},
      ZPGZBM = #{zpgzbm,jdbcType=VARCHAR},
      GWLB = #{gwlb,jdbcType=VARCHAR},
      ZRS = #{zrs,jdbcType=VARCHAR},
      ZPRSN = #{zprsn,jdbcType=VARCHAR},
      ZPRSNV = #{zprsnv,jdbcType=VARCHAR},
      XBBX = #{xbbx,jdbcType=VARCHAR},
      hjxz = #{hjxz,jdbcType=VARCHAR},
      KSSJ = #{kssj,jdbcType=VARCHAR},
      JSSJ = #{jssj,jdbcType=VARCHAR},
      ZXNL = #{zxnl,jdbcType=VARCHAR},
      ZDNL = #{zdnl,jdbcType=VARCHAR},
      whcd = #{whcd,jdbcType=VARCHAR},
      ygxs = #{ygxs,jdbcType=VARCHAR},
      ZZYX = #{zzyx,jdbcType=VARCHAR},
      ZGYX = #{zgyx,jdbcType=VARCHAR},
      hyzk = #{hyzk,jdbcType=VARCHAR},
      jkzk = #{jkzk,jdbcType=VARCHAR},
      rylb = #{rylb,jdbcType=VARCHAR},
      sfbys = #{sfbys,jdbcType=VARCHAR},
      ZPDQ = #{zpdq,jdbcType=VARCHAR},
      JYYZ = #{jyyz,jdbcType=VARCHAR},
      SLCD = #{slcd,jdbcType=VARCHAR},
      JSJDJ = #{jsjdj,jdbcType=VARCHAR},
      JSJSLCD = #{jsjslcd,jdbcType=VARCHAR},
      GWMS = #{gwms,jdbcType=VARCHAR},
      GZDD = #{gzdd,jdbcType=VARCHAR},
      CGRSN = #{cgrsn,jdbcType=VARCHAR},
      CGRSNV = #{cgrsnv,jdbcType=VARCHAR},
      DJYXQ = #{djyxq,jdbcType=VARCHAR},
      DJSJ = #{djsj,jdbcType=VARCHAR},
      GDSJ = #{gdsj,jdbcType=VARCHAR}
    where ZPGZBH = #{zpgzbh,jdbcType=VARCHAR}
  </update>
</mapper>