/*
####################################################################
#  ��    �ƣ�Ӧ�ÿ�������CSS����
#  �棠������1.0
#  ��Ȩ����: ��������������Ϣ�������޹�˾
#  ��    ��: ������
#  ˵    ��: 
��ӡҳ������һ�ɵ��ô��ļ�������ʵ�ʷ��Ҫ���޸�������ʽ��
δ�漰����ʽ����ϵ��������ڱ���β����ӣ����ʱ���ע�����ܡ�
####################################################################
*/

/*ȫ��ҳ����ʽ������ҳ�߾ࡢ���塢��������ʽ����ҳ����*/
body
{
    margin: 0 0 0 0;
	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: buttonshadow;
	background-color:#ffffff;

}



/*ȫ�ֱ����������ʽ*/
table,tr,td
{
	FONT-FAMILY: ����,Arial; 
	FONT-SIZE: 10pt;
    text-align:center;
	line-height: 150%;
} 


/*���ϸ�߱��д�����£�
<table width="100%" border="1" bordercolor="#000000"  class="bordercollapse">
*/
/*������ʽ�������Ʊ��Ԫ����Ϊϸ��*/
.bordercollapse{
	border-collapse:collapse;

}



/*���ر���ߣ����磺Ҫ��һ���������еı���"����" "����" "����"������Ԫ����ͨ����Ӧ�ð����·�����ӣ�
<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000" style="border-collapse:collapse">
  <tr> 
    <td>����</td>
    <td class="nobottomline">����</td>
  </tr>
  <tr> 
    <td class="norightline">����</td>
    <td class="noleftline notopline">����</td>
  </tr>
</table>
��������������� */
.norightline {
	border-right: 0px none ;
}
.noleftline {
	border-left: 0px none ;
}
.notopline {
	border-top: 0px none ;
}
.nobottomline {
	border-bottom: 0px none ;
}
/*������ʽ�������ص�Ԫ���ıߵı����*/
.noborder {
	border: 0px none; 
}


/*���ر���߽���*/





/*Ӣ�����ֻ򵥴�ǿ�ƻ���*/
.wordbreak {
	WORD-BREAK: break-all;
	WORD-WRAP: break-word;
}


.wordkeep {
	WORD-BREAK: keep-all;
}


/*�߶����ã����ڶ��������м���Ԫ��ĸ߶ȣ������Ҫ�����߶�ֵ���ڴ˴��������*/
/*�����м�࣬��λ������%��em��px*/
.lh200{
	line-height:200%;
}
.lh150{
	line-height:150%;
}
.lh120{
	line-height:120%;
}
/*���Ԫ��߶ȣ���λpx*/
.lh30px{
    height:30px;
}
.lh25px{
    height:25px;
}
.lh20px{
    height:20px;
}
/*�߶����ý���*/


.pt10
{
	FONT-FAMILY: "����", Arial; 
	FONT-SIZE: 10pt;
	line-height: 150%;
} 
.pt10c
{
	FONT-FAMILY: "����", Arial; 
	FONT-SIZE: 10pt;
	font-weight:bold;
} 



.pt12
{
	FONT-FAMILY: "����", "Arial";
	FONT-SIZE: 12pt;
	line-height: 150%;

} 
.pt12c
{
	FONT-FAMILY:"����",Arial; 
	FONT-SIZE: 12pt;
	font-weight:bold;
} 

.pt15
{
	FONT-FAMILY: "����",Arial; 
	FONT-SIZE: 15pt;
	line-height: 150%;
} 

.pt15c
{
	FONT-FAMILY: "����",Arial; 
	FONT-SIZE: 15pt;
	font-weight:bold;
	line-height: 150%;
} 



.pt22c
{
	FONT-FAMILY: "����",Arial; 
	FONT-SIZE: 22pt;
	font-weight:bold;
} 




.left
{
	text-align:left;
} 

.right
{
	text-align:right;
} 
