/*
####################################################################
#  ��    �ƣ�Ӧ�ÿ�������CSS����
#  �棠������1.0
#  ��Ȩ����: ��������������Ϣ�������޹�˾
#  ��    ��: ������
#  ˵    ��: ҳ������һ�ɵ��ô��ļ�������ʵ�ʷ��Ҫ���޸�������ʽ��δ�漰����ʽ����ϵ��������ڱ���β����ӣ����ʱ���ע�����ܡ�
#################################�ּ��##################################
*/

/*�����ֺ�4���ֶ���*/
.zjj34 {
	letter-spacing: 6px;
}

.zjj35 {
	letter-spacing: 13px;
}

.zjj36 {
	letter-spacing: 19px;
}

.zjj45 {
	letter-spacing: 4px;
}

.zjj46 {
	letter-spacing: 8px;
}

.zjj47 {
	letter-spacing: 13px;
}

.zjj56 {
	letter-spacing: 3px;
}

.zjj57 {
	letter-spacing: 6px;
}

.zjj58 {
	letter-spacing: 9px;
}

.zjj67 {
	letter-spacing: 3px;
	text-align: center;
}

.zjj68 {
	letter-spacing: 5px;
}

.zjj69 {
	letter-spacing: 8px;
}


.zjj78 {
	letter-spacing: 2px;
}

.zjj79 {
	letter-spacing: 4px;
}
.zjj90 {
	letter-spacing: 1.2pt;
}